* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.slider {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 150px;
  overflow: hidden; }
  .slider:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all .3s;
    opacity: 0; }
  .slider-prev, .slider-next {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer; }
  .slider-prev {
    left: 0; }
  .slider-next {
    right: 0; }
  .slider-prev-icon, .slider-prev-bg, .slider-next-icon, .slider-next-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s; }
  .slider-prev-icon, .slider-next-icon {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    pointer-events: none; }
  .slider-prev-icon {
    left: -132px;
    border-right: 12px solid #8e44ad; }
  .slider-next-icon {
    right: -132px;
    border-left: 12px solid #8e44ad; }
  .slider-prev-bg, .slider-next-bg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ecf0f1;
    opacity: 0.7; }
    .slider-prev-bg:hover, .slider-next-bg:hover {
      opacity: 1; }
  .slider-prev-bg {
    left: -120px; }
  .slider-next-bg {
    right: -120px; }
  .slider-prev:hover .slider-prev-icon {
    left: 32px; }
  .slider-prev:hover .slider-prev-bg {
    left: 20px; }
  .slider-next:hover .slider-next-icon {
    right: 32px; }
  .slider-next:hover .slider-next-bg {
    right: 20px; }
  .slider-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 33.333%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 10; }
    .slider-btn .btn {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 30px;
      transition: all .3s; }
      .slider-btn .btn:hover {
        background-color: rgba(236, 240, 241, 0.6); }
    .slider-btn .btn-bg {
      position: relative;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 3px;
      background-color: #8e44ad;
      overflow: hidden; }
      .slider-btn .btn-bg:before {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .slider-box {
    display: block;
    width: 100%; }
    .slider-box:before, .slider-box:after {
      content: '';
      display: table; }
    .slider-box:after {
      clear: both; }
  .slider-item {
    display: inline-block;
    width: 20%;
    height: 100%;
    float: left;
    transition: all .6s linear;
    top: 0; }
  .slider-link {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: calc(100% * (9 / 16)); }
  .slider-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; }
  .slider-des {
    position: absolute;
    bottom: 20px;
    padding: 0;
    margin: 0;
    z-index: 10;
    background-color: #8e44ad; }

.slider.shadow {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.125); }

.slider.active:before {
  opacity: 0.3; }

.btn-bg.active:before {
  animation: active .3s linear both; }

@keyframes active {
  100% {
    left: 30px; } }
